<h1>Phoria Table Tennis</h1>

<p>Welcome to the home of spin, slice, and fast reflexes!</p>

<p><strong><%= link_to "View Players", players_path %></strong></p>
<p><strong><%= link_to "View Matches", matches_path %></strong></p>
